@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* BUTTONS */
    .btn {
        padding: theme('padding.[2.5]') theme('padding.18');
        border: 1px solid theme('borderColor.transparent');
        border-radius: theme('borderRadius.lg');
        font-weight: theme('fontWeight.medium');
    }

    .btn-active {
        background-color: theme('colors.secondary');
        border-color: theme('colors.secondary');
        color: theme('colors.background');
    }

    .active-hover {
        background-color: theme('colors.background');
        border-color: theme('colors.secondary');
        color: theme('colors.secondary');
    }

    .btn-inactive {
        color: theme('colors.g-2');
    }

    .inactive-hover {
        border-color: theme('colors.primary');
        color: theme('colors.primary');
    }

    .t-ease {
        transition: theme('transitionDuration.150') theme('transitionTimingFunction.in');
    }

    /* COMMON TITLES, SUBTITLES & TEXTS */

    .section-title,
    .section-subtitle {
        font-weight: theme('fontWeight.semibold');
        margin-bottom: theme('margin.6');
    }

    .section-title {
        color: theme('colors.secondary');
    }

    .section-title1 {
        width: theme('width.fit');
        margin: theme('margin.0') theme('margin.auto') theme('margin.4');
        font-size: theme('fontSize.sm');
        border-radius: theme('borderRadius.2xl');
        padding: theme('padding.1') theme('padding.3');
        background-color: theme('colors.secondary-o-1');
    }

    .section-subtitle {
        color: theme('colors.g-3');
        font-size: theme('fontSize.5xl');
    }

    .section-text {
        color: theme('colors.g-2');
        font-size: theme('fontSize.xl');
        max-width: theme('maxWidth.screen-lg');
        margin: theme('margin.auto');
    }

    /* RESPONSIVE MENUS */

    .mobile-pages {
        flex-direction: column;
        align-items: center;
        gap: 200px;
        position: absolute;
        top: 50px;
        left: 0;
        margin-left: 2rem;
        padding: 1rem;
        background-color: theme('colors.secondary-o-2');
        border-radius: .5rem;
    }

    .mobile-account {
        position: absolute;
        top: 50px;
        right: 0;
        text-align: right;
        margin-right: 2rem;
        padding: 1rem;
        background-color: theme('colors.secondary-o-2');
        border-radius: .5rem;
        color: theme('colors.g-2');
    }

    /* METRICS */

    .metrics-number {
        color: theme('colors.secondary');
        font-size: theme('fontSize.6xl');
        font-weight: theme('fontWeight.semibold');
    }

    .metrics-title {
        color: theme('colors.g-3');
        font-size: theme('fontSize.lg');
        font-weight: theme('fontWeight.medium');
        margin-bottom: theme('margin.2');
    }

    /* ------ */

    .jobs-card {
        padding: theme('padding.6');
        border: 1px solid theme('colors.g-border');
        border-radius: theme('borderRadius.2xl');
        cursor: theme('cursor.pointer');
    }

    .testimonial {
        max-width: theme('maxWidth.1216');
        margin: theme('margin.0') theme('margin.auto') theme('margin.24');
        padding: theme('padding.16');
        border-radius: theme('borderRadius.2xl');
        background-color: theme('colors.secondary-o-2');
    }

    .email-input {
        padding: theme('padding.[2.5]') theme('padding.4');
        border: 1px solid theme('colors.input-border');
        border-radius: theme('borderRadius.lg');
        color: theme('colors.g-2');
    }

    /* MAX-WIDTHS */

    .max-1280 {
        max-width: theme('maxWidth.screen-xl');
        margin-inline: theme('margin.auto');
    }

    .max-768 {
        max-width: theme('maxWidth.screen-md');
        margin-inline: theme('margin.auto');
    }
}